* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#sandbox {
  min-width : 900px;
  height : 675px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#case {
  margin : auto;
  width : 720px;
  height : 540px;
  border : 20px;
  border-color : black;
  background-color :grey;
  position : relative;
}

#selection-container{
  display: flex;
  flex-direction: column;
  min-width : 300px;
  height : 675px;
  justify-content: flex-end;
}

#selections{
  background-color:blanchedalmond;
  flex-grow: 1;
}

#container{
  display: flex;
  flex-direction:row;
}

#save-button{
  background-color:darkgray;
  width : auto;
  flex-grow: 0;
}

.lens{
  height: 50px;
  width: 50px;
  background-color: aqua;
  border-radius: 50%;
  display: inline-block;
  position : absolute;
}

.textFormat{
  color:black;
  display : flex;
  justify-content: center;
  align-items: center;
  padding : 10;
}

.textField{
  display:flex;
  flex-direction : row;
  justify-content: center;
  align-items: center;
}